*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
    .justify-center{
        justify-content: center;
    }

   .d-flex {
    display: flex;
    width: 100%;
    height: 1300px;
   }
  .align-center {
    align-items: center;
  }
 .square {
    height: 600px;
    width: 430px;
    background-color: rgba(128, 128, 128, 0.233);
    flood-opacity: initial;
    border-radius: 10px;
 }

 h2{
    padding: 30px 0 0 150px;
    font-size: 30px;
    font-family: 'Tahoma, Geneva, sans-serif;
    
 }
 .rettangle{
    height: 100px;
    width: 430px;
    background-color: black;
    margin-top: 25px;
    color: rgb(9, 187, 113);
 }
 .column{
    flex-direction: row-reverse;
 }
 h3{
    padding-right: 30px;
    font-family: seven segment;
    font-size: 70px;
 }
 .little-square{
    height:410px;
    background-color: red;
    width: 320px;
 }
 .little-rettangle{
    height: 410px;
    width: 120px;
    
 }.tiny-square{
    height: 50px;
    width: 50px;
    padding: 10px;
    margin-top: 30px;
 }
  .grey{
    background-color: grey;
  }
  .flex-start{
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .orange{
    background-color: orange;
  }
  .notsotiny-square{
    height: 50px;
    width: 110px;
  }
  .c-square{
    height: 55px;
    width: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid rgb(46, 46, 46);
  }
  .blu{
    background-color: aqua;
  }
  .column2{
    flex-direction: column;
    justify-content: space-between;

  }
  h5{
    font-size: 30px;
    color: white;
    padding-left: 19px;
  }